<div class="container-fluid">
  <div class="row">
    <div class="col-3 panel">
     
      <form class="form-inline">
        <h3 class="text-center">Notes ({{ notesCount }})</h3>
        <input type="submit" class="btn custom-btn" value="+" (click)="addItem()">
      </form>
    </div>
    <div class="col-sm panel">
      <h3 class="text-center"><input  class="form-control" [(ngModel)]="selectedNote.title"
         placeholder="Your first title"></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-3 panel">
      <form>
        <div class="form-check">
           <div class="notes-container " *ngFor="let note of notes; let i = index">
              <div class="row  row-margin">
                  <div class="col">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label" (click)="onSelect(note)" >{{ note.title }}</label>
            <input type="submit" class="btn btn-danger float-right" value="X" (click)="removeItem(i)">
            </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm panel">
     <textarea class="form-control" rows="5" [(ngModel)]="selectedNote.text" 
     placeholder="Insert your first note text here"></textarea> 
    </div>
  </div>
</div>
<router-outlet></router-outlet>
